/*
Author: TemplateAccess.com (DT/TS)
*/
@charset "utf-8";
body { margin:0; padding:0; width:100%; background:#ffffff url(/assets/bg.jpg);}
html { padding:0; margin:0;}

.main { margin:0 auto; padding:0;}
/********** header **********/
.header { padding:0; margin:0 auto; width:960px;}
/* logo */
.logo {padding:0; margin:0; width:335px; float:left;}
/* rss */
.rss { text-align:right; width:215px; margin:0; padding:10px 10px 10px 0; float:left; font: normal 11px Arial, Helvetica, sans-serif; color:#7e7e7e; line-height:1.8em;}
.rss_img { float:left; margin:0; padding:20px 0 0 0;}
.rss_img img { margin:5px; padding:0;}
/*menu*/
.menu { padding:0; margin:0; float:right; width:530px;}
.menu ul { text-align:left; padding:30px 0 0; margin:0; list-style:none; border:0; float:right; height:33px;}
.menu ul li { float:left; margin:0; padding:0 5px; border:0; height:31px;}
.menu ul li a { float:left; margin:0; padding:8px 0; color:#39352f; font:bold 12px/15px Arial, Helvetica, sans-serif; text-decoration:none; }
.menu ul li a span { padding:12px 15px; background:none; }
.menu ul li a:hover, .menu ul li a.active { color:#dedede; background:url(/assets/menu_r.png) no-repeat right; }
.menu ul li a:hover span, .menu ul li a.active span {color:#dedede; background:url(/assets/menu_l.png) no-repeat left; }
/* body */
.body { padding:30px 0; margin:0;}
.body_resize { width:920px; margin:0 auto; padding:10px 20px; background:url(/assets/transparent.png);}
.body h2 { font: normal 20px Arial, Helvetica, sans-serif; color:#33312f; padding:10px 0; margin:0 0 15px 0; border-bottom:1px solid #262421;}
.body h2 span { display:block; font: normal 11px Arial, Helvetica, sans-serif; color:#b1b1b1; padding:0; margin:0;}
.body .comment { float:right; width:44px; height:46px; background:url(/assets/comment_bg.gif) no-repeat; font:normal 22px Arial, Helvetica, sans-serif; color:#a4a4a4; line-height:38px; text-align:center;}
.body p { font:normal 12px Arial, Helvetica, sans-serif; color:#848484; line-height:1.8em; padding:5px 0; margin:0;}
.body p.about { background:#e6e6e6; border-left:5px solid #cdcdcd; padding:20px; margin:15px 0; font: italic 12px Arial, Helvetica, sans-serif; color:#747474;}
.body p span { font-size:18px; font-weight:bold; color:#888;}
.body a { color:#e2d7b1; text-decoration:none;}
.body ul.list { padding:0; margin:0; list-style:none;}
.body ul.list li { float:left; width:50%; padding:3px 0;}
.body img { margin:5px auto; padding:5px; background:#FFF; border:1px solid #d4d4d4;}
.body img.noborder { border:0; padding:0; margin:10px 10px 0 0;}
.body img.none { float:none; margin:0; padding:0; border:none; background:none;}
.body img.f_left { float:left;}
.right { width:271px; margin:0; padding:0; float:right;}
.left { width:621px; margin:0; padding:0 28px 0 0; float:left;}
.port { width:576px; margin:0; padding:0 28px 0 0; float:left;}
.port_end { width:288px; margin:0; padding:0 28px 0 0; float:left;}
.last { padding:0;}
/********** contact form **********/
#contactform { margin:0; padding:5px 0; }
#contactform * { color:#F00; }
#contactform ol { margin:0; padding:0; list-style:none; }
#contactform li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
#contactform li.buttons { margin:5px 0 5px 0; clear:both; }
#contactform label { margin:0; width:100px; display:block; padding:5px 0; color:#737373; font:normal 12px Arial, Helvetica, sans-serif; float:left; }
#contactform label span { color:#d66423; font-weight:bold; }
#contactform input.text { width:450px; border:1px solid #d4d4d4; margin:5px 0; padding:3px 2px; height:16px; background:#fff; float:left; }
#contactform textarea { width:450px; border:1px solid #d4d4d4; margin:5px 0; padding:2px; background:#fff; float:left; }
#contactform li.buttons input { padding:3px 0 3px 0; margin:10px 0 0 100px; border:0; color:#FFF; float:left; }
/* FBG */
.FBG { padding:0; margin:0; background:url(/assets/transparent2.png);}
.FBG_resize { width:960px; margin:0 auto; padding:20px 0;}
.FBG img { float:left; margin:0; padding:0;}
.FBG a { color:#e2d7b1; text-decoration:none; font-weight:bold; }
.FBG h2 { font: normal 22px Arial, Helvetica, sans-serif; color:#bebdbd; padding:10px 0; margin:0;}
.FBG p {font: normal 11px Arial, Helvetica, sans-serif; color:#919191; padding:5px 0; margin:0; line-height:1.8em;}
.FBG ul { padding:0; margin:0; list-style:none;}
.FBG li { padding:5px 0; margin:0; }
.FBG li a { font:normal 11px Arial, Helvetica, sans-serif; color:#757575; padding:5px 0 5px 0; margin:0;text-decoration:none;}
.FBG li a:hover { color:#317c91; text-decoration:none;}
.FBG .blog { width:210px; float:left; margin:0 20px 0 0; padding:0 20px 0 0; background:url(/assets/line_bg.gif) repeat-y right;}
.FBG .blog.last { padding:0; margin:0; background:none;}
/*************footer**********/
.footer { background:url(/assets/transparent3.png);}
.footer_resize { width:960px; padding:20px 0; margin:0 auto;}
.footer p { font:normal 12px Arial, Helvetica, sans-serif; color:#979797;}
.footer a { font:bold 12px Arial, Helvetica, sans-serif; color:#a9a9a9; text-decoration:none; }
.footer p.right { text-align:right; width:350px; margin:0; padding:10px 0; float:right;} 
.footer p.leftt { text-align:left; width:550px; margin:0; padding:10px 0; float:left;}

p.clr, .clr { clear:both; padding:0; margin:0; background:none;}
.bg { clear:both; padding:3px 0; margin:0; border-bottom:1px solid #ededed;}
/* Slider */
#slider { width:960px; padding:18px 0; margin:0 auto 47px; background:url(/assets/shadow_slide.png) no-repeat bottom;}
#slider .flash_slider { width:960px; height:301px; margin:0; overflow:hidden;}
/* Top LIne */
.top_line { background:url(/assets/transparent.png); color:#999999; font:normal 11px Arial, Helvetica, sans-serif; border-bottom:1px solid #39352f;}
.top_line_resize { width:960px; margin:0 auto; height:35px;}
.top_line .support { float:left; padding:8px 0; line-height:19px;}
.top_line .support span { font-weight:bold; color:#e8f5f9;}
.top_line .feebback { float:left; padding:8px 0; line-height:19px;}
.top_line .feebback span { float:left; padding:0 2px;}
.top_line .feebback img { float:left; padding:0 2px;}
/* search */
.search { padding:5px 0; margin:0; width:222px; float:right;}
.search form { display:block; float:right; padding:0;}
.search span { display:block; float:left; background:#393735; width:220px; padding:0; height:23px; border:1px solid #2e2b27;}
.search form .keywords { width:170px; float:left; background:none; border:0; padding:4px 10px; margin:0; font:normal 12px Arial, Helvetica, sans-serif; color:#706e6d; line-height:15px;}
.search form .button { float:left; margin:0; padding:0;}
/*-- Hedaer blog --*/
.header_text { padding:0; background:url(/assets/transparent.png);}
.header_text_resize { width:960px; margin:0 auto; padding:15px 0;}
.header_text h1 { font:normal 30px Arial, Helvetica, sans-serif; color:#d4d4d4; padding:5px 20px 0; margin:0; float:left;}
.header_text p { margin:0; padding:0; color:#33312f; font:normal 18px Arial, Helvetica, sans-serif;}
.header_text span { display:block; color:#b1b1b1; font:normal 11px Arial, Helvetica, sans-serif;}
