<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Aspirina com Café</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


</head>
<div class="main">
  <div class="top_line">
    <div class="top_line_resize">
      <div class="feebback"><span>Siga-nos</span><img src="/assets/icon_sm_1.png" width="18" height="18" alt="icon" /><img src="/assets/icon_sm_2.png" width="18" height="18" alt="icon" /> <img src="/assets/icon_sm_3.png" width="18" height="18" alt="icon" /><img src="/assets/icon_sm_4.png" width="18" height="18" alt="icon" /></div>
      <div class="search">
        <form id="form1" name="form1" method="post" action="">
          <span>
          <input name="q" type="text" class="keywords" id="textfield" maxlength="50" value="Search..." />
          <input name="b" type="image" src="/assets/search.gif" class="button" />
          </span>
        </form>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="header">
    <div class="logo"><a href="#"><img src="/assets/logo.png" alt="logo" width="207" height="96" border="0" /></a></div>
    <div class="menu">
      <ul>
        <li><a href="index.html" class="active"><span>Início</span></a></li>
        <li><a href="portfolio.html"><span>Reviews</span></a></li>
        <li><a href="blog.html"><span>Artigos</span></a></li>
        <li><a href="about.html"><span>Quem Somos</span></a></li>
        <li><a href="contact.html"><span>Contato</span></a></li>
      </ul>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
    
    <div class="clr"></div>
  </div>
  <div class="header_text">
    <div class="header_text_resize">
      <p>Aliquam ac pretium lectus. Quisque non ante id eros a ccumsan iaculis quis a velit. Donec quam pur <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></p>
    </div>
  </div>
  <div class="body">
    <div class="body_resize">
      <div class="port">
        <%= yield %>
        <h2>What We Do <span>Sed congue, dui vel tristique mollis...</span></h2>
        <img src="/assets/img_1.jpg" alt="picture" width="288" height="95" class="none"  />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nuncnec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. Invarius tincidunt elit vitae eleifend. </p>
        <p><a href="#"><img src="/assets/button_more.gif" alt="button" width="39" height="12" border="0" class="none" /></a></p>
      </div>
      
      <div class="port_end last">
        
        <h2>Easy to Customize <span>Sed congue, dui vel tristique mollis...</span></h2>
        <img src="/assets/img_3.jpg" alt="picture" width="288" height="95" class="none"  />
        <p>Aenean at lectus eget neque consequat sagittis ut sed nisl. <br />
          Nulla facilisi. Aenean a lect massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
        <p><a href="#"><img src="/assets/button_more.gif" alt="button" width="39" height="12" border="0" class="none" /></a></p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="clr"></div>
</div>
<div class="FBG">
  <div class="FBG_resize">
    <div class="blog">
      <h2>Recent Post</h2>
      <ul>
        <li><a href="#">&raquo; Full standards compliance</a></li>
        <li><a href="#">&raquo; All of Videos Supported</a></li>
        <li><a href="#">&raquo; Spam protection</a></li>
        <li><a href="#">&raquo; Video Support!</a></li>
        <li><a href="#">&raquo; We have gone!</a></li>
        <li><a href="#">&raquo; Dummy Photo</a></li>
        <li><a href="#">&raquo; We have gone!</a></li>
        <li><a href="#">&raquo; Dummy Photo</a></li>
      </ul>
    </div>
    <div class="blog">
      <h2>What They Say</h2>
      <p><img src="/assets/quote.png" width="20" height="19" alt="quote" /> &nbsp;Quis autem vel eum iure reprehenderit <br />
        qui in ea voluptate qui in ea voluptate velit esse voluptas nulla velit esse voluptas nulla pariatur Quis autem vel eum iure reprehender voluptate velit esse voluptas nulla 
        qui in ea qui in ea voluptate velit esse voluptas nullavoluptate velit esse voluptas nulla pariatur?&quot;</p>
      <p>by: John S., webdesigner</p>
    </div>
    <div class="blog">
      <h2>Latest News</h2>
      <p><strong>At vero eos et accusamus et iusto </strong><br />
        <a href="#">January 6, 2010</a><br />
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor dolore magna aliqua...</p>
      <p><strong>Cras lobortis mauris vel diam </strong><br />
        <a href="#">February 27, 2010</a><br />
        Ut enim ad minim veniam, quis nostrud exercitation Lorem ipsum dolor sit amet...</p>
      <div class="clr"></div>
    </div>
    <div class="blog last">
      <h2>Contact</h2>
      <p>+1 215.676.7876<br />
        <a href="mailto:contact@mycompany.com">contact@mycompany.com</a><br />
        123 Pine Street<br />
        Mycity, ST 19000 </p>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="footer">
  <div class="footer_resize">
    <p class="leftt">&copy; Copyright <a href="#">Templatesold</a>. All Rights Reserved </p>
    <p class="right"> (TS) <a href="http://www.templatesold.com">Website Templates</a></p>
    <div class="clr"></div>
  </div>
</div>
</body>

</html>









